.student-client {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 10rem auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-section input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
  }
  
  .input-section button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .queue-section h2 {
    margin-top: 0;
    color: black;
  }
  
  .queue-section ul {
    list-style-type: none;
    padding: 0;
    color: black;
  }
  